/* You can add global styles to this file, and also import other style files */
*{
   
    margin-top: 10px;
    max-width: auto;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}